$primary: #0070f3;
$secondary: #767676;

$info: #0070f3;
$danger: #d9534f;
$success: #43b581;
$warning: #f0ad4e;

$dark: #2f353d;
$light: #f3f3f3;

$white: #fff;
$black: #000;

$transparent: transparent;
